@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 0;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

html {
    overflow-y: scroll;
}

body {
    background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

img {
    width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}
